.tableCatalogueWrapper{
    min-height: 100%;
}

.tableCatalogueBody{
    position: absolute;
    top: 6%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 40%
}

.tableCatalogue{
    background-color: deepskyblue;
}

.tableCatalogueTitle{
    background-color: darkblue;
    color:white;
    font-size: 20px;
}

.tableCatalogueItem{
    background-color: dodgerblue;
}

.tableSubCatalogue{
    background-color: lightcyan;
}

.tableSubCatalogueItem{
    background-color: lightblue;
}

.catalogueContentWrapper{
    min-height: 100%;
}

.catalogueContentBody{
    position: absolute;
    top: 6%;
    left: 40%;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}