@{
    ViewBag.Title = "Information Catalogue";
}

<div class="jumbotron">
    <h1>Information Catalogue</h1>
    <p class="lead">a CST4D Web Application Project made by Calvin and Joel.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catalogues</h2>
        <p><a class="btn btn-default" href="">Create Catalogue</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your Schedule</h2>
    </div>
</div>