@{
    ViewBag.Title = "Information Catalogue";
}

<h3>Welcome @ViewBag.Username!</h3>

<div class="col">
    <div class="col-md-4">
        <h2>Catalogues</h2>
        @Html.ActionLink("Create Catalogue", "Create", "Catalogue")
    </div>
</div>
<div class="col">
    <div class="col-lg-4">
        <h2>Your Content Here...</h2>
    </div>
</div>
<br />